ml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#Intellij IDEA
build/
.idea/
.iml
.ipr
.iws
out

#Gradle
.gradle/

#Maven
targete
release.properties
pom.xml.*
project.properties
gradle/properties

#Ant
build.xml
local.properties
.proguard.cfg

#OSX
.DS_Store

#Android
*.keystore
